<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <script>
        var t = setInterval(function() {
            if (window.goatcounter && window.goatcounter.visit_count) {
                clearInterval(t)
                window.goatcounter.visit_count({append: 'body'})
            }
        }, 100)
    </script>

    {{ 
        $script := resources.Get "js/count.js" 
        | minify
        | fingerprint "sha256"
    }}
    <script data-goatcounter="https://counter.shonk.software/count"
            async src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" ></script>
    <title>{{ block "title" . }} 
        {{ .Site.Title }}
        {{ end }}</title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content">
            <main class="main">
                {{ block "main" . }}
                {{ end }}
            </main>
        </div>

        {{ if and (eq .Kind "page") (eq .Section "posts") }}
            <section id="isso-thread">
                <noscript>Javascript needs to be activated to view comments.</noscript>
            </section>

            <script data-isso="//comments.shonk.software/"
                    src="//comments.shonk.software/js/embed.min.js"></script>
        {{ end }}

        {{ partial "footer.html" . }}
    </div>

</body>

</html>